.login{
    background-color: #000080;
    color: white;
    padding: 20px;
}
.login .input, .login .button{
    margin: 10px 0;
    padding: 10px;
}
.login .input input{
    width: 85%;
}
.login .button button{
    width: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}